html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

.sound {
    input[type=checkbox] {
        $scale: 2;
        -ms-transform: scale($scale); /* IE */
        -moz-transform: scale($scale); /* FF */
        -webkit-transform: scale($scale); /* Safari and Chrome */
        -o-transform: scale($scale); /* Opera */
        margin: 1em;
    }

    input[type=range] {
        margin: 0 0.5em;
    }

    label {
        &.range {
            width: 65px;
            display: inline-block;
            text-align: right;
            vertical-align: top;
        }
    }
}
